/*Navigation*/
/*.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-nav>li>.dropdown-menu {
  z-index: 9999;
}
.navigation{
  padding-top: 50px; 
  color: #fff;
}
.navigation a{
  vertical-align: middle;
  text-align: center;
}
.navigation a{
  display: block !important;
}
.navigation a img{
  max-height: 63px;
  display: block !important;
  
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
#navbar2 ul li{
  /*padding-left: 20px;*/
/*  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.8px;

}
#navbar2 ul li:nth-child(4){
  margin-top: -5px;
  font-size: 27px;
   font-weight: normal;
}
#navbar2 ul li:nth-child(5){
  margin-top: -5px;
  font-size: 27px;
   font-weight: normal;
}
.navbar-default .navbar-toggle {
    border-color: transparent !important;
    cursor: pointer !important; 

}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}*/


/*.gradient{
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: cover;
}*/

/* ------------------------- SEARCH ----------------------*/


.main-head {
  display: block;
  height: 100vh;
}

.search-bg {
  background-repeat: no-repeat; 
  background-position: center center;
  background-size: cover;
  padding: 0px 0px 0px 0px;
  background-color: #02669a;
  position: relative;
  z-index: 1;
  height: 100vh;
}

.search-bg-overlay {
  position: absolute;
  background-color: rgba(2,126,174,.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%; /* Full width (cover the whole page) */
}

.search-container {
  display: block;
  position: relative;
  width: calc(100% - ( 0 * 30px ) );
  padding-top: 38px;
  padding-bottom: 34px;
  transform: translateY(40%);
  text-align: center;
  z-index: 3;
}

.search-container:before {
  background: rgba(3,159,220,.5);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 880px;
  margin: auto;
  z-index: -1;
}

.search-container-inner {
  margin-bottom: 30px;
  position: relative;
}

.search-sub {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.searching {
  position: relative;
  margin-top: 25px;
  margin-bottom: 10px;
}

.searching form {
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.searching input {
  width: calc(100% - 60px);
  border: 0;
  height: 70px;
  line-height: 40px;
  float: left;
  margin: 0;
  padding-left: 20px;
  background: #fff;
  color: #999;
  font-size: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.searching button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 60px;
  height: 70px;
  line-height: 50px;
  float: left;
  font-size: 16px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: #066b93;
}

.first-section-list{
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
 }

.first-section-list ul li{
  display: inline-block;
  padding: 5px 5px 10px 5px;
}

.first-section-list ul li a{
  color: #fff !important;
  font-size: 14px;
  font-weight: 400;
}

.first-section-list ul li:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.first-section-list ul li:hover:after {
  width: 100%;
  background: #fff;
}

.first-section-list ul li a:hover {
     color: #fff !important; 
    text-decoration: none;
}
.first-section-list span{
  border-right: 1px solid #b8dfec;
  margin-left: 5px;
}

.first-section-list ul li:nth-class(9) span {
  border-right: 0;
}

/* ------------------------- SEARCH ----------------------*/

/* ----------------------  Partners ----------------------*/
.partners-section {
  background: #ebf5fa;
  padding: 14px 0;
}

.partners{
  text-align: center;
}

.partners h2 {
  margin-top: 16px;
}

.customer-logos {
  padding-bottom: 8px;
}
/* ----------------------  Partners ----------------------*/



/*.....................Other Services.....................*/
.other-services{
  text-align: center;
}
.other-services .other-services-unit-title h4{
  font-weight: 600;
}
.other-services-unit img{
  height: 70px;
  width: 70px !important;
}


/* ---------------------- Services -----------------------*/
.services{
  text-align: center;
  padding-top: 0px;
  padding-bottom: 30px;
}
.services .services-title{
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  letter-spacing: 0.6;
}
.services .services-center{
  text-align: center;
  padding-top: 30px;
}
.services .nav-tabs{
  text-align: center !important;
 display: inline-block;

  
}
.services .tab-content{
  padding-top: 40px;
}
.services .nav-tabs>li {
    background-color: #02669a !important;
}
.services .nav-tabs>li.active>a {
    color: #02669a !important;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #02669a !important;
    border-bottom-color: #02669a !important;
}
.services .nav-tabs>li.active>a:hover{
  background-color: #fff !important;
}
.services .nav-tabs>li {
    margin-bottom: 0px !important;
}   
.services .nav-tabs>li>a {
    color: #fff !important;
    margin-right: 0 !important;
    border-radius: 0 0 0 0 !important;
    font-size: 13px;
    letter-spacing: 1.2px;
}
.services .nav-tabs>li.active>a:after {
         border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 10px solid #02669a;
    height: 0px;
    width: 0px;
    bottom: 0px;
    top: 39px;
    content: " ";
    left: 50%;
    margin-left: -10px;
    position: absolute;
}
.services .nav>li>a:hover {
    text-decoration: none;
    background-color: #1580b8 !important;
}
.services .nav-tabs>li>a:hover {
    border-color: #1580b8 #1580b8 #1580b8 !important;
}
.flickity-button-icon {
    fill: #02669a !important;
}
.flickity-button {
    position: absolute;
    background: #02669a;
    border: none;
    color: #fff;
}

.flickity-prev-next-button .flickity-button-icon {
    left: 35%;
    width: 34%;
}


.flickity-viewport{
  height: 370px !important;
}

.flickity-button:focus { 
  -webkit-box-shadow: 0 0 8px 2px rgba(17,153,255,0.4);
  box-shadow: 0 0 8px 2px rgba(17,153,255,0.4);
}

.flickity-prev-next-button.previous {
    left: -8px;
}

.flickity-prev-next-button.next {
    right: -8px;
}

.flickity-prev-next-button {
    top: 40%;
    background: #fff;
    -webkit-box-shadow: 0 0 1px 1px rgba(20,23,28,.1),0 3px 1px 0 rgba(20,23,28,.1);
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1),0 3px 1px 0 rgba(20,23,28,.1);
    /*transition: .2s;*/
}

.flickity-button:hover {
    -webkit-box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
  box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
    cursor: pointer;
}


.carousel-width{
  width: 50%;
  margin-right: 10px;
}
.carousel-image {
  /*display: block;*/
  height: 150px;
  /* set min-width,
     allow images to determine cell width */
  /*min-width: 150px;*/
 width: 100%;
 
  /* vertically center */
  top: 50%;
  
}

.tc-title {
  padding: 10px 0;
}

.carousel.is-fullscreen .carousel-image {
  height: auto;
  max-height: 100%;
}

.carousel-cell {
  -webkit-box-shadow: 0 0 10px 2px rgba(20,23,28,.1);
  box-shadow: 0 0 10px 2px rgba(20,23,28,.1);
}

.carousel-cell img {
  width: 100%;
}

.carousel-cell-content{
  border: 1px solid transparent;
  opacity: 1;
  min-height: 190px;
}
.carousel-cell-content-wrapper{
  /*display: block;*/
  padding-left: 10px;
  padding-right: 10px;
}

.carousel-cell-content-wrapper p {
  text-align: left;
  font-size: 12px;
  white-space: wrap;
  line-height: 20px;
}

.carousel-cell-content-subtitle,
.carousel-cell-content-rating,
.carousel-cell-content-duration{
  text-align: left !important;
}

.carousel-cell-content .carousel-cell-content-rating{
  font-size: 18px;
}

.carousel-cell-content {
  font-size: 12px;
  padding-top: 8px;
}

.tc-duration {
  font-size: 12px;
  padding-top: 8px;
  font-weight: 700;
}

.tc-duration-span {
  padding-left: 5px;
}

/* ------------------------  Services -----------------------------------*/


/*----------------------------------Events-----------------------------------*/

.events-shadow {
    padding-bottom: 20px;
}

.events-shadow,
.classes-shadow {
    box-shadow: 0px 8px 23px -4px rgba(20, 23, 28, .1);
}

.event-title,
.class-title {
    padding: 30px 20px;
}

.events .events-unit {
    padding: 20px 20px;
}

.events .events-date {
    border-right: 1px solid #efefef;
    margin-top: -5px;
}

.events .events-unit .events-date .events-date-day p,
.events .events-unit .events-date .events-date-month p {
    color: #00a0dc;
    text-align: center;
}

.events .events-unit .events-date .events-date-day p {
    font-size: 72px;
    font-weight: 700;
    line-height: 73px;
    margin-top: 0;
}

.events .events-unit .events-date .events-date-month p {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 25px;
}

.events .events-content .events-content-title h3 {
    margin-top: 0px;
    margin-bottom: 7px;
}

.events-content-information-time,
.events-content-information-location,
.events-content .events-content-information .events-content-information-time span,
.events-content .events-content-information .events-content-information-time p,
.events-content .events-content-information .events-content-information-location span,
.events-content .events-content-information .events-content-information-location p {
    display: inline-block;
}

.events .events-content-information {
    font-size: 13px;
    margin-bottom: 4px;
}

.events .events-content-information i {
    color: #00a0dc;
    padding-right: 5px;
}

.events .events-content-information-time {
    padding-right: 10px;
}

.events-content-information .events-content-information-time i,
.events-content .events-content-information .events-content-information-time span,
.events-content .events-content-information .events-content-information-time p,
.events-content-information .events-content-information-location i,
.events-content .events-content-information .events-content-information-location span,
.events-content .events-content-information .events-content-information-location p,
.events .events-content .events-content-subtitle p {
    font-size: 13px;
}

.events .events-content .events-content-subtitle p{
 line-height: 20px;
}
.events .events-image{
  height: 104px;
  width: 100%;
  overflow: hidden;
  margin-top: 5px;
}


/* =============== EVENT INNER =================== */

.ld-smart-container .ld-3d-parent {
    opacity: 0.5 !important;
}

.ld-smart-container {
    z-index: 0 !important
}

.event {
    background-image: url('../images/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    color: #fff;
}

.event-overlay {
    background-color: rgba(0, 0, 0, 0.53);
    opacity: 1;
    height: inherit;
    width: auto;
}

.event-text {
    text-align: center;
    padding-top: 148px;
}

#event-countdown {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#event-countdown span {
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    padding-right: 8px;
}

#event-countdown p {
    color: #fff;
    writing-mode: tb-rl;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    white-space: nowrap;
    display: inline-block;
    line-height: 1px;
    width: 20px;
    height: 20px;
    font-size: 13px;
    margin-bottom: 0px;
}

.event-location i,
.event-date i {
    font-size: 18px;
}

.event-location span,
.event-date span {
    display: inline-block;
    font-size: 20px;
    color: #fff;
}

.event-location span,
.event-date span {
    padding-left: 10px;
}

.event-date {
    padding-top: 20px;
}

.event-button {
    padding-top: 30px;
}

.event-content-inner {
  margin-top: 55px;
}

.event-content-space-1 {
  border-right: 1px solid #efefef;
  padding-right: 24px;
}

.entry-content h2, .entry-objectives h2 {
  margin-bottom: 25px;
}

.entry-objectives {
  display: block;
  margin-top: 35px;
}

.entry-objectives ul li {
  line-height: 30px;
  font-size: 14px;
  color: #525c65;
  letter-spacing: 0.5px;
  position: relative;
  padding-left: 24px;
}

.entry-objectives ul li:after {
  position: absolute;
  top: 12px;
  left: 8px;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #039fdc;
  -webkit-transform: translateX(-52%);
  transform: translateX(-52%);
}

.event-info {
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #efefef;
}

.event-info h4 {
  margin-bottom: 20px;
}

.event-info i {
  padding-right: 10px;
  font-size: 13px;
  color: #039fdc;
}

.event-info p {
  padding-left: 25px;
  line-height: 22px;
}

.event-location  {
  margin-top: 22px;
  clear: both;
}

.event-location #map {
  -webkit-box-shadow: 2px 4px 10px 2px rgba(0,0,0,0.2);
  box-shadow: 2px 4px 10px 2px rgba(0,0,0,0.2);
}

/*.event-about {
    padding-top: 40px;
}

.event-about-introduction {
    padding-bottom: 40px;
}

.event-about-introduction {
    text-align: center;
    font-weight: 300;
    color: #2e3d49;
    font-size: 26px;
    padding-bottom: 15px;
}

.event-about-objectives .event-about-objectives-title {
    text-align: center;
    font-weight: 300;
    color: #2e3d49;
    font-size: 26px;
    padding-bottom: 15px;
}

.event-about-objectives-list {
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
    padding: 20px 20px;
}

.event-about-objectives .event-about-objectives-list ul {
    letter-spacing: 0.2px !important;
    color: #878787 !important;
    line-height: 30px !important;
}

.event-about-objectives .event-about-objectives-list ul li:before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    color: #0496d0;
    font-size: 15px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    left: 30px;
    margin-top: 1px;
}

.event-about-objectives .event-about-objectives-list ul li {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 15px;
    padding-left: 40px;
}*/

.event-speaker-unit {
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 20px 20px;
    position: relative;
    box-shadow: 5px 3px 15px 0 rgba(46, 61, 73, 0.1);
    margin: 20px 0;
    transition: all 0.2s ease;
}

.event-speaker-unit:hover {
  box-shadow: 5px 3px 7px 0 rgba(46, 61, 73, 0.1)
}

.event-speaker {
    padding-top: 50px;
    text-align: center;
}

/*.event-speaker-title {
    text-align: center;
    font-weight: 300;
    color: #2e3d49;
    font-size: 26px;
    padding-bottom: 15px;
}*/

.event-speaker-photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.event-speaker-name {
    padding-top: 10px;
    font-size: 22px;
    font-weight: bold;
}

.event-speaker-position span,
.event-speaker-position span p {
    display: inline-block;
}

.event-speaker-position p {
  font-size: 12px;
}

/*.event-speaker-social a span {
    padding: 5px 5px;
}*/

.event-speaker-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    padding: 20px 20px;
    background: #039fdc;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    /* transition effect. not necessary */
    transition: opacity .6s, visibility .6s;
}

.event-speaker-unit:hover .event-speaker-description {
    visibility: visible;
    opacity: 1;
}

.event-speaker-description {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.event-speaker-description p {
    color: #fff;
    padding: 0;
    line-height: 17px;
    overflow: hidden;
    max-height: 230px;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.4px;
}

.event-speaker-description-social a span {
    padding: 5px 5px;
    color: #fff;
}

.event-speaker-description-social a span:hover {
    color: #034a66;
}

.event-register {
    padding-top: 50px;
}

.event-register-title {
    text-align: center;
    font-weight: 300;
    color: #2e3d49;
    font-size: 26px;
    padding-bottom: 15px;
}

.event-register-form {
    border-radius: 5px;
    padding: 20px 20px;
    position: relative;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
}

.event-register-form-label {
    font-size: 16px;
    color: #2e3d49;
    font-weight: 600;
    margin-bottom: 7px;
}

.event-register-button {
    text-align: center;
}

/*.event-map {
    padding-top: 50px;
}

.event-map-title {
    text-align: center;
    font-weight: 300;
    color: #2e3d49;
    font-size: 26px;
    padding-bottom: 15px;
}*/

#map {
    height: 330px;
}



/* =============== EVENT INNER =================== */





/*----------------------------------Events-----------------------------------*/


/*Classes*/
/*.classes .classes-title{
  text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}*/

.classes-list ul {
  padding-left: 20px;
}

.classes-list ul li {
  display: block;
}

.classes-list-title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #2e3d65;
  font-size: 13px;
  text-transform: none;
}

/*.classes .classes-list{
  margin-top: 30px;
}*/
/*.classes .classes-list .classes-list-title{
  font-size: 16px;
  font-weight: bold;
}*/
.classes .classes-list ul li .classes-image img{
  height: 70px;
  width: 80px;
}

.classes .classes-list ul li span{
  display: table-cell;
}
.classes .classes-list ul li .classes-image{
  width: 135px;
}
.classes .classes-list ul li .classes-description{
  position: relative;
  top: -30px;
  left: 10px;
}

.scroll-text {
  height: 428px;
  overflow: hidden;
  padding: 0 20px 0 0;
}

#demo-btn{
  display: block;
  padding-bottom: 15px;
  /*margin-bottom: 13px;*/
}
#demo-btn a{
  border: 1px solid;
  background-color: #02669a;
}
#demo-btn a i{
  color: #fff;
}
.btn-primary{
  background-color: #02669a !important;

}



/*About Us*/

.aboutus{
  margin-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
  background-image: url('../images/CoverImage.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.aboutus-wrapper{
  padding-top: 20px;
}
.aboutus .video{
  padding-top: 80px;
  
  position: relative;

}

.aboutus .video .video-button{
  position: absolute;
      left: 45%;
    top: 50%;
}

.aboutus .video .video-button a{
  background-color: #fff;
    width: 84px;
    height: 84px;
    line-height: 84px;
    font-size: 25px;
    color: #008CC1;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    transition: all 1.4s ease-in-out;

}
   .aboutus .video .video-button:hover:before{
  animation: ripple 1s ease;
  cursor: pointer;
}

.aboutus .video .video-button:before{
  content:"";
  position:absolute; top:0; left:0;
  width:100%; height:100%;
  background-color:rgba(255, 255, 255, 0.7);
  border-radius:50%;
  transform:scale(0);
}

@keyframes ripple{
  from{transform:scale(0); opacity:1;}
  to{transform:scale(3);opacity:0;}
}
/*.aboutus .video .video-button a:hover{
  color: blue;
}    */
.aboutus-content{
  padding-left: 70px;
  padding-top:80px; 
  padding-bottom: 80px;
}

.aboutus-content p {
  margin-top: 20px;
  color: #fff;
}
.aboutus-title{
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.8px;
    
}

.aboutus-subtitle{
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.aboutus-description{
  padding-top: 20px;
font-size: 16px;
letter-spacing: 0.2;
line-height: 24px;
color: #fff;
text-align: justify;
}

.grid{
    text-align: center;
    padding-left: 70px;
    position: relative;
    
}

.icon{
    position: absolute;
    left: 25px;
    top: 0px;
    width: 60px;
}

.icon img {
  width: 100%;
}
.counter-text{
  padding-left: 10px;
  color: #fff;
}
.grid h3{
  margin: 0;
  font-size: 2.4rem;
  font-weight: bold;
}

.grid p{
  padding-top: 5px;
  font-size: 16px;
    margin: 0;
    color: #fff;
    line-height: 1.7em;
}
/*.....................teachers...................*/
.teachers{
  text-align: center;
}
.teachers-cell img{
  height: 150px;
  width: 150px !important;
  border-radius: 50%;
}
.teachers-cell .carousel-cell-content-wrapper .post-title{

  padding-bottom: 5px;

}
.teachers-description p{
  text-align: center !important;
}
.teachers-social-icons a{
  padding: 10px;
}
.teachers-social-icons a:first-child{
  display: none;
}


/*Testimonial*/
 .testimonial-outer{
  padding-top: 50px;
 }
 .testimonial-outer span i{
  font-size: 60px;
    position: absolute;
    color: #02669a;
 }
 .testimonial-outer span .fa-quote-left{
  text-shadow: 5px 5px #81c3e6;
 }
 .testimonial-outer span .fa-quote-right{
  margin-left: 92%;
  margin-top: -3%;
  text-shadow: 5px 5px #81c3e6;
 }
 .testimonial-title{
   text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.6;
 }
 .testimonial-slider{
  padding-top: 40px;
 }
.testimonial{
    /*border-left: 4px solid #2987bf;*/
    box-shadow: 5px 12px 15px rgba(0, 0, 0, 0.08);
    padding: 30px 30px 30px 130px;
    margin: 30px 30px 30px 30px;
    overflow: hidden;
    position: relative;
    
}
.testimonial:before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 25px solid #2987bf;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(-45deg);
    transform-origin: 80% -30% 0;
}
.testimonial:after{
    content: "";
    position: absolute;
    top: 41px;
    left: -28px;
    border-top: 25px solid #2987bf;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(135deg);
    transform-origin: 80% -30% 0;
}

.testimonial .pic{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 20px;
}
.testimonial .pic img{
    width: 100%;
    height: 100%;
}
.testimonial .description{
    font-size: 15px;
    font-style: italic;
    color: #918686;
    line-height: 25px;
    margin-bottom: 15px;
}
.testimonial .title{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #2987bf;
    margin: 0;
}
.testimonial .post{
    display: inline-block;
    font-size: 17px;
    color: #2987bf;
}
.owl-theme .owl-controls .owl-page span{
    border: 2px solid #2987bf;
    background: #fff;
    opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span{
    background: #2987bf;
}
/*................gallery.............*/
.gallery{
  text-align: center;
}


/*gallery fancybox*/

.imgContainer {
    width: 135px;
    height: 80px;
    overflow: hidden;
    text-align: center;
    margin: 10px 20px 10px 0;
    border: solid 1px #999;
    display: inline-block;
}

.imgContainer:hover {
    -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
    -moz-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
    /*margin: 9px 19px 11px 1px;
 border-bottom: solid 1px #444;
 border-left: solid 1px #444;*/
}

#galleryTab {
    margin: 10px 5px 20px 0;
    top: 26px;
    width: 450px;
}

.galleryWrap {
    padding: 30px 0 30px 0;
}


/*.galleryWrap a img{
 height: 100%;
}*/

.gallery .filter {
    border: 1px solid #ccc;
    color: #fff;
    /*float: left;*/
    font-size: 12px;
    margin: 0 12px 0 0;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.gallery .filter:hover {
    background-color: #f8f8f8;
    -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
    -moz-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
    /* margin: -1px 11px 1px 1px;
 border-bottom: solid 1px #aaa;
 border-left: solid 1px #aaa;*/
}

.gallery .filter.active {
    background-color: #e2e2e2;
    border: 1px solid #ccc;
    color: #000;
    cursor: default;
    margin: 0 12px 0 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}





































@media only screen and (max-width: 767px){
    .testimonial{
        padding: 20px;
        text-align: center;
    }
    .testimonial .pic{
        display: block;
        position: static;
        margin: 0 auto 15px;
    }
}

/*Responsive Design*/
@media screen and (max-width: 320px) {
   
   .navigation a img{
     margin-top: -15px;
    }
}
@media screen and (max-width: 480px) {
    .navigation a img{
     margin-top: -15px;
    }
}
@media screen and (max-width: 600px) {
     .navigation a img{
     margin-top: -32px;
    }
}
@media screen and (max-width: 768px) {
     .navigation a img{
     margin-top: -32px;
    }
}
@media screen and (max-width: 900px) {
   .navigation a img{
     margin-top: -32px;
    }
}
@media screen and (max-width: 1024px) {
    .navigation a img{
     margin-top: -32px;
    }
}
@media screen and (max-width: 1200px) {
    .navigation a img{
     margin-top: -32px;
    }
}
@media screen and (max-width: 1280px) {
    .navigation a img{
     margin-top: -32px;
    }
}
@media screen and (min-width: 1280px) {
    .navigation a img{
     margin-top: -32px;
    }
}