/* ------------------------- SEARCH ----------------------*/

.main-head {
    display: block;
    height: 100vh;
}

.search-bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0px 0px 0px 0px;
    background-color: #02669a;
    position: relative;
    z-index: 1;
    height: 100vh;
}

.search-bg-overlay {
    position: absolute;
    background-color: rgba(2, 126, 174, .3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    /* Full width (cover the whole page) */
}

.search-container {
    display: block;
    position: relative;
    width: calc(100% - ( 0 * 30px));
    padding-top: 38px;
    padding-bottom: 34px;
    transform: translateY(40%);
    text-align: center;
    z-index: 3;
}

.search-container:before {
    background: rgba(3, 159, 220, .5);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 880px;
    margin: auto;
    z-index: -1;
}

.search-container-inner {
    margin-bottom: 30px;
    position: relative;
}

.search-sub {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.searching {
    position: relative;
    margin-top: 25px;
    margin-bottom: 10px;
}

.searching form {
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.searching input {
    width: calc(100% - 60px);
    border: 0;
    height: 70px;
    line-height: 40px;
    float: left;
    margin: 0;
    padding-left: 20px;
    background: #fff;
    color: #999;
    font-size: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.searching button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 60px;
    height: 70px;
    line-height: 50px;
    float: left;
    font-size: 16px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: #066b93;
}

.first-section-list {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.first-section-list ul li {
    display: inline-block;
    padding: 5px 5px 10px 5px;
}

.first-section-list ul li a {
    color: #fff !important;
    font-size: 14px;
    font-weight: 400;
}

.first-section-list ul li:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.first-section-list ul li:hover:after {
    width: 100%;
    background: #fff;
}

.first-section-list ul li a:hover {
    color: #fff !important;
    text-decoration: none;
}

.first-section-list span {
    border-right: 1px solid #b8dfec;
    margin-left: 5px;
}

.first-section-list ul li:nth-class(9) span {
    border-right: 0;
}


/* ------------------------- SEARCH ----------------------*/


/* ----------------------  Partners ----------------------*/

.partners-section {
    background: #ebf5fa;
    padding: 14px 0;
}

.partners {
    text-align: center;
}

.partners h2 {
    margin-top: 16px;
}

.customer-logos {
    padding-bottom: 8px;
}


/* ----------------------  Partners ----------------------*/


/*.....................Other Services.....................*/

.core-feature {
    text-align: center;
    padding: 50px 0;
    background-color: #edfafd;
}

.other-services-unit-title h4 {
  margin-top: 15px;
    font-weight: 700;
}

.other-services-unit img {
    height: 70px;
    width: 70px !important;
}


/* ---------------------- Services -----------------------*/

.services {
    text-align: center;
    padding: 50px 0;
}

.services .services-title {
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    letter-spacing: 0.6;
}

.all-course-main-carousel .carousel-cell {
    width: 33.33%;
    padding: 0 6px;
}

.owl-item {
    padding: 10px 10px;
}

.owl-theme .owl-controls {
    margin-top: 0px !important;
    text-align: center !important;
}

.owl-theme .owl-controls .owl-buttons div {
    background-color: #00a0dc !important;
    color: #fff !important;
    opacity: 1 !important;
    padding: 10px 15px !important;
    border-radius: 4px !important;
}

.courses-slider-more-btn {
  margin-top: -42px;
  margin-left: 5px;
}


/*
.carousel-width {
    width: 50%;
    margin-right: 10px;
}*/

/*.courses-slider-more-btn {
    margin-top: -45px;
    margin-right: 10px;
}*/

/*.services .services-center {
    text-align: center;
    padding-top: 30px;
}

.services .nav-tabs {
    text-align: center !important;
    display: inline-block;
}

.services .tab-content {
    padding-top: 40px;
}

.services .nav-tabs>li {
    background-color: #02669a !important;
}

.services .nav-tabs>li.active>a {
    color: #02669a !important;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #02669a !important;
    border-bottom-color: #02669a !important;
}

.services .nav-tabs>li.active>a:hover {
    background-color: #fff !important;
}

.services .nav-tabs>li {
    margin-bottom: 0px !important;
}

.services .nav-tabs>li>a {
    color: #fff !important;
    margin-right: 0 !important;
    border-radius: 0 0 0 0 !important;
    font-size: 13px;
    letter-spacing: 1.2px;
}

.services .nav-tabs>li.active>a:after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 10px solid #02669a;
    height: 0px;
    width: 0px;
    bottom: 0px;
    top: 39px;
    content: " ";
    left: 50%;
    margin-left: -10px;
    position: absolute;
}

.services .nav>li>a:hover {
    text-decoration: none;
    background-color: #1580b8 !important;
}

.services .nav-tabs>li>a:hover {
    border-color: #1580b8 #1580b8 #1580b8 !important;
}



.carousel-image {
    height: 150px;
    width: 100%;
    top: 50%;
}

.tc-title {
    padding: 10px 0;
}

.carousel.is-fullscreen .carousel-image {
    height: auto;
    max-height: 100%;
}

.carousel-cell {
    -webkit-box-shadow: 0 0 10px 2px rgba(20, 23, 28, .1);
    box-shadow: 0 0 10px 2px rgba(20, 23, 28, .1);
}

.carousel-cell img {
    width: 100%;
}

.carousel-cell-content {
    border: 1px solid transparent;
    opacity: 1;
    min-height: 190px;
}

.carousel-cell-content-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

.carousel-cell-content-wrapper p {
    text-align: left;
    font-size: 12px;
    white-space: wrap;
    line-height: 20px;
}

.carousel-cell-content-subtitle,
.carousel-cell-content-rating,
.carousel-cell-content-duration {
    text-align: left !important;
}

.carousel-cell-content .carousel-cell-content-rating {
    font-size: 18px;
}

.carousel-cell-content {
    font-size: 12px;
    padding-top: 8px;
}

.tc-duration {
    font-size: 12px;
    padding-top: 8px;
    font-weight: 700;
}

.tc-duration-span {
    padding-left: 5px;
}*/


/* ------------------------  Services -----------------------------------*/


/* ------------------------ ALL COURSES ---------------------------------*/

.vendors {
  background: url(../images/aerial-business-computer-1011329.jpg) fixed 50% 50%;
  background-color: #efefef;
  background-size: cover;
}

.vendors-bg {
  background-color: rgba(0, 0, 0, .7);
  height: inherit;
  width: auto;
}

.vendors-container {
  padding: 50px 0;
}
/*
.vendors-container h2 {

}*/

.flickity-prev-next-button {
    top: 50% !important;
}

.all-course-main-carousel {
  padding: 50px 0;
}

.all-course-main-carousel  .flickity-viewport{
   height: 340px !important;
}

.flickity-button-icon {
    fill: #02669a !important;
}

.flickity-button {
    position: absolute;
    background: #02669a;
    border: none;
    color: #fff;
}

.flickity-prev-next-button .flickity-button-icon {
    left: 35%;
    width: 34%;
}

.vendors-container .flickity-button:focus {
    -webkit-box-shadow: 0 0 8px 2px rgba(17, 153, 255, 0.4) !important;
    box-shadow: 0 0 8px 2px rgba(17, 153, 255, 0.4) !important;
}



/*.flickity-prev-next-button.previous {
    left: -8px;
}

.flickity-prev-next-button.next {
    right: -8px;
}

.flickity-prev-next-button {
    top: 40%;
    background: #fff;
    -webkit-box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
}

.flickity-button:hover {
    -webkit-box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
    box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
    cursor: pointer;
}*/

.carousel-cell {
    width: 33.3%;
    /* full width */
    padding-left: 6px;
    padding-right: 6px;
}


/* ---- grid-item ---- */

.flickity-button-icon {
    fill: #02669a !important;
}


.all-courses-title {
    /*padding-left: 4px;*/
    /*font-weight: 300;*/
    /*color: #2e3d49;*/
}

.grid-item {
    padding-top: 0px;
}

.first-grid-item .grid-item-content .grid-item-picture img {
    height: 340px;
    width: 100%;
    border-radius: 6px;
}

/*.grid-item-picture {
  position: relative;
    z-index: -67;

}

.grid-item-img-bg {
  background: rgba(0,0,0,0.8);
  z-index: 1;
  display: block;
  width: 100%;
  height: inherit;
}*/

.top-grid-item img,
.bottom-grid-item img {
    height: 163px;
    width: 100%;
    border-radius: 6px;
}

.bottom-grid-item {
    padding-top: 175px;
}

.grid-item-content {
    position: relative;
}

.grid-item-picture {
    position: absolute;
    display: block;
    border-radius: 6px;
}

.grid-item-overlay {
    position: absolute;
    display: block;
    width: 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 5px;
    border-radius: 6px;
}

.first-grid-item .grid-item-overlay p {
    padding-top: 270px;
    font-size: 20px;
    color: #fff;
    padding-left: 10px;
    padding-bottom: 30px;
}

.top-grid-item .grid-item-overlay p {
    padding-top: 120px;
    font-size: 20px;
    color: #fff;
    padding-left: 10px;
    padding-bottom: 3px;
}

.bottom-grid-item .grid-item-overlay p {
    padding-top: 120px;
    font-size: 20px;
    color: #fff;
    padding-left: 10px;
    padding-bottom: 3px;
}

.carousel-cell-shadow {
    box-shadow: none;
}

.carousel-cell1 {
    border: 1px solid #efefef;
}

.popular-courses {
    margin-top: 50px;
}

@media screen and (max-width: 320px) {
    .carousel-cell {
        width: 100%;
        /* full width */
    }
}

@media screen and (max-width: 480px) {
    .carousel-cell {
        width: 100%;
        /* full width */
    }
}




/*.courses-tab-filter .btn-group {
    padding-top: 0px !important;
}

.courses-tabs .courses-tab-filter .btn-group .btn {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 100% !important;
}

.courses-tabs .courses-tab-filter .btn-group .btn i {
    float: right;
    padding-top: 5px;
    color: #00a0dc;
}

.courses-tabs .courses-tab-filter .dropdown-menu {
    padding: 4px 14px !important;
}*/

.courses-tabs {
  padding: 50px 0;
  text-align: center;
}

.courses-tabs-nav {
  text-align: left;
}

.courses-tab-filter {
  text-align: right;
}

.courses-tab-filter button {
  background: #fff;
  padding: 8px 10px;
  border: 1px solid #cacbcc;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}

.courses-tab-filter .open button {
  border: 1px solid #00a0dc;
  color: #00a0dc;
  transition: 0.3s ease-in-out;
}

.courses-tab-filter .open span {
  color: #00a0dc;
}

.courses-tab-filter button, .courses-tab-filter span {
  color: #686f7a;
}

.courses-tab-filter span {
  padding-left: 6px;
}

.courses-tab-filter .dropdown-menu > li > a {
  color: #505763;
  padding: 7px 12px;
  font-size: 13px;
  letter-spacing: 0.4px;
}

.courses-tab-filter .dropdown-menu > .active > a {
  color: #fff;
  background: #00a0dc;
}

.courses-tabs .nav-tabs {
    text-align: center !important;
    display: inline-block;
}

.courses-tabs .tab-content {
    padding-top: 40px;
}

.courses-tabs .nav-tabs > li {
    background-color: #00a0dc !important;
}

.courses-tabs .nav-tabs>li.active>a {
    color: #02669a !important;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #00a0dc !important;
    border-bottom-color: #00a0dc !important;
}

.courses-tabs .nav-tabs>li.active>a:hover {
    background-color: #fff !important;
}

.courses-tabs .nav-tabs>li {
    margin-bottom: 0px !important;
}

.courses-tabs .nav-tabs>li>a {
    color: #fff !important;
    margin-right: 0 !important;
    border-radius: 0 0 0 0 !important;
    font-size: 13px;
    letter-spacing: 1.2px;
}

.courses-tabs .nav-tabs>li.active>a:after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 10px solid #00a0dc;
    height: 0px;
    width: 0px;
    bottom: 0px;
    top: 39px;
    content: " ";
    left: 50%;
    margin-left: -10px;
    position: absolute;
}

.courses-tabs .nav>li>a:hover {
    text-decoration: none;
    background-color: #1580b8 !important;
}

.courses-tabs .nav-tabs>li>a:hover {
    border-color: #1580b8 #1580b8 #1580b8 !important;
}

.courses-tabs .tab-content>.active {
    display: block !important;
}

.courses-tabs .courses-tab-pane {
    display: none !important;
}

.courses-tabs .courses-tab-content {
    -webkit-box-shadow: 0 0 10px 2px rgba(20, 23, 28, .1);
    box-shadow: 0 0 10px 2px rgba(20, 23, 28, .1);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
}

.courses-tab-content-detail {
  text-align: center;
  margin: 0 auto;
  padding: 10px 0 16px;
}

.courses-tab-content-image {
  position: relative;
}

.courses-tab-content-detail h6 {
  text-transform: none;
  color: #2e3d49;
  font-weight: 700;
  letter-spacing: 0.5px;
  /*margin-top: 0;*/
}

.courses-tab-content-detail-rate {
  padding-left: 80px;
}

.courses-tab-content-detail-rate .small-active-star {
  margin-bottom: 8px;
}

.courses-tab-content-detail-rate .star-percentage {
  font-weight: 300;
  font-size: 12px;

}

.courses-tab-content-detail-rate .star-percentage:after {
  content: " ";
  clear: both;
}

.courses-tab-content-duration {
  font-size: 12px;
  color: #686f7a;
  margin-bottom: 8px;
  letter-spacing: 0.4px;
}

.level-tag {
  position: absolute;
  right: 0;
  top: 150px;
}

.level-b-bg {
  background: #039fdc;
}

.level-i-bg {
  background: #f39c12;
}

.level-e-bg {
  background: #e74c3c;
}

.level-b-bg, .level-i-bg, .level-e-bg {
  padding: 2px 8px;
}

.level-b-bg, .level-i-bg, .level-e-bg {
  font-size: 11px;
  letter-spacing: 0.4px;
  color: #fff;
  box-shadow: 2px 3px 12px 0 rgba(0,0,0,0.1);
}

.courses-tab-content-button a {
  font-size: 12px;
}

.services .owl-theme .owl-controls {
    text-align: right !important;
    margin-right: 5px;
}

.services li.active a{
  color: #00a0dc !important;
}



/*.courses-tabs .courses-tab-content .courses-tab-content-detail {
    padding: 10px 10px 15px 10px;
}

.courses-tabs .courses-tab-content .courses-tab-content-detail .courses-tab-content-button a {
    padding: 4px 12px;
}

.courses-tabs .courses-tab-content .courses-tab-content-detail .courses-tab-content-rating {
    padding-left: 65px;
}
*/
/*.courses-tabs .courses-tab-content .courses-tab-content-detail,
.courses-tabs .courses-tab-content .courses-tab-content-detail{
    font-size: 12px;
}*/




.tab-pagination .pagination>.active>a {
    background-color: #00a0dc;
    border-color: #00a0dc;
}


/* --------------------------- ALL COURSES ------------------------------------*/


/* -------------------------- COURSE INNER ------------------------------------*/
.course-section {
  display: block;
  /*position: relative;*/
  padding: 50px 0;
}

.course-block {
  border-radius: .375rem;
  padding: 50px;
  width: 100%;
   background-image: linear-gradient(to right, #23bdfd, #50adf8, #719cee, #8c8ade, #a078c8);
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.3);
}


.course-content {
  display: block;
  width: 100%;
}

.course-content h1 {
  margin-bottom: 20px;
}

.course-content p {
  color: #fff;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}

.moreless {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 14px;
    color: #263952;
}

.more::before {
  content: "\f103";
  font-family: "Font Awesome 5 Free";
  padding-right: 6px;
}

.less::after {
  content: "\f102";
  font-family: "Font Awesome 5 Free";
  padding-left: 6px;
}

/*----- MODAL --- */
.course-modal {
  background: rgba(46,61,73,.85);
}

.course-modal-dialog {
  margin: 280px auto;
}

.course-modal-header {
  border-bottom: none;
}

.course-modal-body {
  padding-bottom: 50px;
}

.course-modal-body h2 {
  text-align: center;
  font-weight: 400;
  color: #039fdc !important;
  margin-top: 0;
}

.course-modal-body p {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 40px;
}

.course-modal-body .form-group {
  padding: 0px 50px;
}

.course-modal-body .form-control {
  height: 48px;
  border: 1px solid #dbe2e8;
  color: #7d97ad;
  box-shadow: 5px 5px 10px 0 rgba(46,61,73,.05);
  transition: box-shadow .3s ease,border .3s ease;
  font-size: 14px;
  padding: 0 20px;
}

.course-modal-body .form-control:hover {
  box-shadow: 0 4px 8px 0 rgba(46,61,73,.12);
}

.course-modal-body .form-control:focus {
  border-color: #039fdc;
  box-shadow: 5px 5px 10px 0 rgba(46,61,73,.05);
}

.course-modal-body input[type="text"] {
  color: #7d97ad; 
}

.course-modal-body .c-btn {
  margin:0 auto;
  padding: 0 30px;
  box-shadow: none;
  cursor: pointer;
}
/* ----- MODAL --- */


.course-sub-in {
  padding-top: 48px;
  padding-bottom: 4px;
}

.course-sub-in h5 {
  line-height: 32px;
  font-size: 18px;
  color: #2e3d49;
  letter-spacing: 1.5px;
  margin-bottom: 2px;
}

.course-sub-in h6 {
  font-size: 12px;
  line-height: 2px;
  letter-spacing: 2px;
  color: #7d97ad;
}

.course-sub-in ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.course-sub-in ul li:not(:first-child) {
  border-left: 1px solid #dbe2e8;
}

.course-sub-in ul li {
  padding: 0 0 0 20px;
  margin-right: 22px;
}

.course-objective-in {
  padding: 30px 0 0;
}

.course-objective-in h2, .related-course-in h4 {
  /*font-weight: 300;*/
  color: #2e3d49;
}

.course-objective-in h2, .related-course-in h3  {
  margin-bottom: 30px;
}

.related-course {
  background: #edfafd;
}


.course-learn-content, .course-objective-content {
  text-align: left;
  position: relative;
  margin: 20px 0 50px;
  background: #fff;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  border-radius: 6px;
  transition: all .3s ease;
}

.course-learn-content-ul, .course-objective-content-ul {
  display: block;
  padding: 60px 60px;
}

.course-learn-content-ul ul, .course-objective-content-ul ul {
  margin-bottom: 0;
}

.course-learn-content-ul ul > li {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.5px;
  padding-bottom: 15px;
  padding-left: 35px;
}

.course-learn-content-ul ul li:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  padding-right: 15px;
  color: #0496d0;
  font-size: 20px;
  text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    left: 62px;
    margin-top: 2px;
}

.course-syllabus {
  margin-top: 30px;
  border-top: 1px solid #dbe2e8;
  padding: 20px 0;
}

.course-syllabus p {
  margin-bottom: 0;
  cursor: pointer;
  transition: .3s ease-in;
}

.course-syllabus p:hover span {
  color: #0291c9;
}

.course-syllabus p i {
  color: #039fdc;
  padding-right: 10px;
  transition: all .3s ease;
}

.course-syllabus p span {
  color: #039fdc;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}

.course-syllabus-content {
  padding: 30px 0;
  display: none;
}

.course-syllabus-content h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #7d97ad;
  margin-bottom: 16px;
}

.course-syllabus-content ul li {
  font-size: 14px;
  padding-left: 25px;
}

.course-syllabus-content ul li:before {
  color: #878787;
  font-size: 14px;
  margin-top: 1px;
}

.course-syllabus-head {
  margin-bottom: 30px;
}

.course-syllabus-item {
  position: relative;
  /*margin-left: 6px;*/
  padding-left: 40px;
  min-height: 260px;
  border-left: 1px solid #dbe2e8;
}

.course-syllabus-item::after {
  position: absolute;
  top: 4px;
  left: 0;
  content: '';
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #039fdc;
  -webkit-transform: translateX(-52%);
  transform: translateX(-52%);
}

.course-syllabus-item h4 {
  font-weight: 700;
  margin-top: -2px;

}

.course-syllabus-item-content {
  margin-top: 20px;
}

.course-syllabus-item-content ul {
  margin-top: 10px;
}

.course-syllabus-item-content ul li::before {
  left: 40px;
  color: #039fdc;
}


.register-now {
  width: 18%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.register-form-container {
  padding-bottom: 30px;
  text-align: center;
  /*display: none;*/
  box-shadow: box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2) !important;
  border-radius: 4px;
  background: #fff;
  display: none;
}

.register-form .c-btn {
  padding: 0 30px;
  margin: 0 auto;
}

.register-form .c-form-control:focus {
    box-shadow: none;
}

.register-form textarea {
    padding-top: 15px;
    padding-bottom: 15px
}


.course-objective-content-ul ul > li {
  font-size: 14px;
  color: #525c65;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 0.5px;
  padding-bottom: 15px;
  padding-left: 35px;
}

.course-objective-content-ul ul li:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  padding-right: 12px;
  color: #0496d0;
  font-size: 20px;
  text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    left: 62px;
    margin-top: 2px;
}

.carousel-width {
    width: 23.333%;
}

.course-rating {
  /*margin-bottom: -50px;*/
  padding-top: 50px;
}

.course-rating h3 {
  text-align: center;
  margin-bottom: 30px
}

.rate-avg {
  /*display: inline-block;*/
  font-size: 48px;
  margin-right: 10px; 
}

.rate-overview {
  padding: 20px 0;
}

.rate-o-wrapper {
  display: block;
}

.rate-o-wrapper::after {
  clear: both;
}

.progress {
  float: left;
  display: block;
  margin-right: 2%;
  width: 53%;
  background-color: #dbe2e8;
  border-radius: 6px;
  box-shadow: none;
  height: 22px;
  margin-bottom: 10px;
}

.bar {
  background-color: #ecc81a;
  color: #fff;
  font-weight: 700;
  text-indent: 12px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  font-size: 12px;
  line-height: 24px;
}

.course-thumb {
  float: left;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  background: #039fdc;
  margin-right: 20px;
}

.course-thumb:after {
  clear: both;
}

.course-thumb span {
  display: block;
  margin-top: 25px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.course-comment-box {
  float: left;
  width: 90%;
  display: block;
  padding: 36px;
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: left;
  background: #fff;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  -webkit-box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  border-radius: 6px;
  transition: all .3s ease;
  position: relative;
}

.course-comment-box:hover {
  box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
  -webkit-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

.course-comment-box h4 {
  line-height: 22px;
  margin-top: 0;
}


.comments {
  float: left;
  display: block;
  font-size: 14px;
  color: #525c65;
  line-height: 24px;
  font-weight: 300;
  margin-top: 24px;
  min-height: 240px;
}

.course-comment-inner .flickity-viewport {
    height: 480px !important;
    padding-top: 21px; 
}

.course-comment-inner .flickity-prev-next-button {
    top: 98%;
}

.course-comment-inner .flickity-prev-next-button.previous {
    left: 320px;
}

.course-comment-inner .flickity-prev-next-button.next {
    right: 352px;
}
/* -------------------------- COURSE INNER ENDS -------------------------------*/


/*----------------------------------Events-----------------------------------*/


/*  ---- EVENT LIST ------- */


/*.events .events-content {
    border-right: 1px solid #efefef;
}*/

.events .events-image {
    margin-top: 0 !important;
}

.events .events-content-button a {
    font-size: 12px;
}

.events-pagination .pagination>.active>a {
    background-color: #00a0dc !important;
    border-color: #00a0dc !important;
}


/*.events-pagination:after {
  content: "";
  clear: both;
}*/


/*.events-line {
    border-top: 1px solid #eee;
}*/


/*  ---- EVENT LIST ------- */

.event-class-section {
  padding: 50px 0;
}

.events-list-container {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    height: 660px;
    background-color: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 3px 4px 15px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 4px 15px 0 rgba(165, 161, 161, 0.2);
}

.events-shadow {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.events-shadow,
.classes-shadow {
    box-shadow: 0px 8px 23px -4px rgba(20, 23, 28, .1);
}

.event-title,
.class-title {
    padding: 30px 20px;
}

.events .events-unit {
    padding: 30px 20px 30px 0px;
}

.event-sep {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0 16px;
}

.events-unit span.line {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background-color: #efefef;
}

.events .events-date {
    /*border-right: 1px solid #efefef;*/
    /*min-height: 127px;*/
    display: block;
}

.events .events-unit .events-date .events-date-day p,
.events .events-unit .events-date .events-date-month p {
    color: #00a0dc;
    text-align: center;
}

.events .events-unit .events-date .events-date-day p {
    font-size: 55px;
    font-weight: 700;
    line-height: 43px;
    margin-top: 0;
}

.events .events-unit .events-date .events-date-month p {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.4px;
}

.events-content {
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
    padding-left: 30px;
    padding-right: 30px;
}

.events .events-content .events-content-title h3 {
    margin-top: 0px;
    margin-bottom: 7px;
}

.events-content-information-time,
.events-content-information-location,
.events-content .events-content-information .events-content-information-time span,
.events-content .events-content-information .events-content-information-time p,
.events-content .events-content-information .events-content-information-location span,
.events-content .events-content-information .events-content-information-location p {
    display: inline-block;
}

.events .events-content-information {
    font-size: 13px;
    margin-bottom: 4px;
}

.events .events-content-information i {
    color: #00a0dc;
    padding-right: 5px;
}

.events .events-content-information-time {
    padding-right: 10px;
}

.events-content-information-time i,
.events-content-information-location i {
    font-size: 11px;
}

.events-content .events-content-information .events-content-information-time span,
.events-content .events-content-information .events-content-information-time p,
.events-content .events-content-information .events-content-information-location span,
.events-content .events-content-information .events-content-information-location p {
    font-size: 13px;
}

.events .events-content .events-content-subtitle p {
    font-size: 14px;
    letter-spacing: 0.2px;
}

.events-content-information-time span,
.events-content-information-location span {
    color: #7d97ad;
}

.events-content-subtitle {
    padding-top: 5px;
    /*padding-bottom: px;*/
}

.events .events-content .events-content-subtitle p {
    line-height: 24px;
}

.events .events-image{
    height: 100px;
    width: 100%;
    overflow: hidden;
    margin-top: 5px;
    border-radius: 4px;
    -webkit-box-shadow: 2px 3px 6px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 3px 6px 0 rgba(0,0,0,0.2);
    box-shadow: 2px 3px 6px 0 rgba(0,0,0,0.2);
}

hr.events-unit-border{
  display: block;
  height: 1px;
  background: #efefef;
  width: 80%;
}

.events-pagination {
    margin-top: 58px;
}



/* =============== EVENT INNER =================== */

.ld-smart-container .ld-3d-parent {
    opacity: 0.5 !important;
}

.ld-smart-container {
    z-index: 0 !important
}

.event {
    background-image: url('../images/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    color: #fff;
}

.event-overlay {
    background-color: rgba(0, 0, 0, 0.53);
    opacity: 1;
    height: inherit;
    width: auto;
}

.event-text {
    text-align: center;
    padding-top: 148px;
}

#event-countdown {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#event-countdown span {
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    padding-right: 8px;
}

#event-countdown p {
    color: #fff;
    writing-mode: tb-rl;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    white-space: nowrap;
    display: inline-block;
    line-height: 1px;
    width: 20px;
    height: 20px;
    font-size: 13px;
    margin-bottom: 0px;
}

.event-location i,
.event-date i {
    font-size: 18px;
}

.event-location span,
.event-date span {
    display: inline-block;
    font-size: 20px;
    color: #fff;
}

.event-location span,
.event-date span {
    padding-left: 10px;
}

.event-date {
    padding-top: 20px;
}

.event-button {
    padding-top: 30px;
}

.event-content-inner {
    margin-top: 55px;
}

.event-content-space-1 {
    border-right: 1px solid #efefef;
    padding-right: 24px;
}

.entry-content h2,
.entry-objectives h2 {
    margin-bottom: 25px;
}

.entry-objectives {
    display: block;
    margin-top: 35px;
}

.entry-objectives ul li {
    line-height: 30px;
    font-size: 14px;
    color: #525c65;
    letter-spacing: 0.5px;
    position: relative;
    padding-left: 24px;
}

.entry-objectives ul li:after {
    position: absolute;
    top: 12px;
    left: 8px;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #039fdc;
    -webkit-transform: translateX(-52%);
    transform: translateX(-52%);
}

.event-info {
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #efefef;
}

.event-info h4 {
    margin-bottom: 20px;
}

.event-info i {
    padding-right: 10px;
    font-size: 13px;
    color: #039fdc;
}

.event-info p {
    padding-left: 25px;
    line-height: 22px;
}

.event-location {
    margin-top: 22px;
    clear: both;
}

.event-location #map {
    -webkit-box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.event-speaker-unit {
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 20px 20px;
    position: relative;
    box-shadow: 5px 3px 15px 0 rgba(46, 61, 73, 0.1);
    margin: 20px 0;
    transition: all 0.2s ease;
}

.event-speaker-unit:hover {
    box-shadow: 5px 3px 7px 0 rgba(46, 61, 73, 0.1)
}

.event-speaker {
    padding-top: 50px;
    text-align: center;
}

.event-speaker-photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.event-speaker-name {
    padding-top: 10px;
    font-size: 22px;
    font-weight: bold;
}

.event-speaker-position span,
.event-speaker-position span p {
    display: inline-block;
}

.event-speaker-position p {
    font-size: 12px;
}

.event-speaker-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    padding: 20px 20px;
    background: #039fdc;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    /* transition effect. not necessary */
    transition: opacity .6s, visibility .6s;
}

.event-speaker-unit:hover .event-speaker-description {
    visibility: visible;
    opacity: 1;
}

.event-speaker-description {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.event-speaker-description p {
    color: #fff;
    padding: 0;
    line-height: 17px;
    overflow: hidden;
    max-height: 230px;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.4px;
}

.event-speaker-description-social a span {
    padding: 5px 5px;
    color: #fff;
}

.event-speaker-description-social a span:hover {
    color: #034a66;
}

#map {
    height: 180px;
}

.event-register {
    margin-top: 50px;
    margin-bottom: -50px;
    background: url(../images/auditorium-benches-board-207691.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*z-index: -1;*/
    /*height: 450px;*/
    overflow: hidden;
}

.event-register-overley {
    background-color: rgba(51, 51, 51, .8);
    /*z-index: 3;*/
    height: inherit;
    width: auto;
}

.event-register-inner {
    display: block;
    text-align: center;
    padding: 60px 0;
}

.event-register-box {
    display: block;
    /*margin: 0 auto;*/
    background-color: #fff;
    padding: 20px;
    margin-bottom: 90px;
    border-radius: 4px;
}

.event-register-box h1 {
    color: #039fdc;
}

.event-register-box p {
    margin-bottom: 24px;
    font-size: 15px;
    line-height: 40px;
}

.event-register-box form {
    padding-bottom: 20px;
}

.event-register-box .form-group {
    padding: 0px 50px;
}

.event-register-box .form-control {
    transition: box-shadow .3s ease, border .3s ease;
}

.event-register-box .form-control:focus {
    border-color: #039fdc;
    box-shadow: 5px 5px 10px 0 rgba(46, 61, 73, .05);
}

.event-register-box .c-btn {
    margin: 0 auto;
    padding: 0 30px;
}

.event-share {
    text-align: center;
}

.event-share-box ul {
    margin-top: 40px;
}

.event-share-box ul li {
    display: inline-block;
    padding: 0 5px;
}

.event-share-box ul li a {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, .15);
}

.event-share-box ul li a i {
    font-size: 18px;
    transform: translateY(60%);
}

.event-share-box ul li a:hover {
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
}


/* =============== EVENT INNER =================== */


/*----------------------------------Events-----------------------------------*/


/* --------------------------------Classes ------------------------------------*/


.classes-list ul {
    padding-left: 20px;
}

.classes-list ul li {
    display: block;
    padding-bottom: 30px;
}

.scroll-text {
    height: 533px;
    overflow: hidden;
    padding: 0 20px 0 0;
}

#demo-btn {
    display: block;
    padding-bottom: 15px;
    /*margin-bottom: 13px;*/
}

#demo-btn a {
    border: 1px solid #00a0dc;
    background-color: #00a0dc;
}

#demo-btn a i {
    color: #fff;
}

.btn-primary {
    background-color: #02669a !important;
}
.classes-list-unit-date{
    background-color: #00a0dc;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    margin:  0px 10px;
}
.classes-list-unit-date .classes-list-unit-date-number{
    font-size: 26px;
    padding: 5px 10px;
}
.classes-list-unit-date hr{
    width: 80%;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.classes-list-unit-date .classes-list-unit-date-day{
    padding: 5px 10px;
}
.classes-list-unit-detail .classes-list-unit-title{
    margin-top: 0px;

}
.classes-list-unit-time, .classes-list-unit-location{
    display: inline-block;
}
.classes-list-unit-time{
    padding-right: 10px;
}
.classes-list-unit-information i, .classes-list-unit-teacher i{
    padding-right: 5px;
    color: #00a0dc;
}

.classes-list-unit-teacher span{
    font-size: 16px;
}

/* --------------------------------------- CLASSES Ends -------------------------------------------------*/

/*About Us*/

.aboutus {
    /*margin-top: 80px;*/
    padding-bottom: 80px;
    /*background-color: #edfafd; */
    /*overflow: hidden;
    background-image: url('../images/CoverImage.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;*/
}

.aboutus-wrapper {
    padding: 50px 0;
}

.about-subtitle {
  display: block;
  text-align: center;
  margin: 20px auto 0;
  width: 500px;
  line-height: 24px;
}

/*.aboutus .video {
    padding-top: 80px;
    position: relative;
}

.aboutus .video .video-button {
    position: absolute;
    left: 45%;
    top: 50%;
}

.aboutus .video .video-button a {
    background-color: #fff;
    width: 84px;
    height: 84px;
    line-height: 84px;
    font-size: 25px;
    color: #008CC1;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    transition: all 1.4s ease-in-out;
}

.aboutus .video .video-button:hover:before {
    animation: ripple 1s ease;
    cursor: pointer;
}

.aboutus .video .video-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    transform: scale(0);
}*/

/*@keyframes ripple {
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        transform: scale(3);
        opacity: 0;
    }
}
*/

/*.aboutus .video .video-button a:hover{
  color: blue;
}    */

.aboutus-content:after {

}

.aboutus-content > p {
    margin-top: 20px;
    /*color: #fff;*/
}

.about-list {
  clear: both;
}

.about-item-img {
  float: left;
  margin-right: 25px;
  padding-top: 20px;
}

.about-item-img img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.about-item-content {
  padding-top: 8px;
}

.about-item-content p {
  font-size: 13px;
  line-height: 20px;
}


.about-line {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #efefef;
}




/*.aboutus-title {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.aboutus-subtitle {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.aboutus-description {
    padding-top: 20px;
    font-size: 16px;
    letter-spacing: 0.2;
    line-height: 24px;
    color: #fff;
    text-align: justify;
}*/

/*.grid {
    text-align: center;
    padding-left: 70px;
    position: relative;
}*/


/*------------------------------------- WHO WE ARE ENDS ------------------------------------ */


/*------------------------------------- COUNTER SECTION ------------------------------------ */
.counter-section {
  background: url(../images/auditorium-benches-board-207691.jpg) fixed 50% 50%;
  background-size: cover;
}

.counter-bg {
  background-color: rgba(3, 159, 220, .9);
  height: inherit;
  width: auto;
}

.countup {
  padding: 50px 0;
}



.countup-item h3 {
    margin: 0;
    /*font-size: 2.4rem;*/
    /*font-weight: bold;*/
}

.countup-item:after {
  content: " ";
  clear: both;
}

.counter-icon {
    display: block; 
    float: left; 
    width: 60px;
}

.counter-icon img {
    width: 100%;
}

.counter-text {
  display: block;
  float: left;
  padding-left: 20px;
}

.counter-text h3 {
  padding-top: 5px;
}

.counter-text h3 > span {
  font-size: 32px;
  font-weight: 700;
}

.counter-text p {
    padding-top: 3px;
    padding-left: 4px;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 22px;
    color: #fff;
}




/*------------------------------------- COUNTER SECTION ENDS------------------------------------ */

/*.....................OUR TUTORS...................*/

.tutors-section {
  padding: 50px 0;
  background: #edfafd;
}

.tutors-unit {
    background: #fff;
    /*border: 1px solid #efefef;*/
    border-radius: 5px;
    padding: 20px 20px;
    position: relative;
    box-shadow: 5px 3px 15px 0 rgba(46, 61, 73, 0.1);
    margin: 20px 0;
    transition: all 0.2s ease;
}

.tutors-unit:hover {
    box-shadow: 5px 3px 7px 0 rgba(46, 61, 73, 0.1)
}

.tutors-section {
    padding-top: 50px;
    text-align: center;
}

.tutors-box {
    margin-left: 10px;
    margin-right: 10px;
}

.tutors-photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tutors-name {
    padding-top: 10px;
    font-size: 22px;
    font-weight: bold;
}

.tutors-position span,
.tutors-position span p {
    display: inline-block;
}

.tutors-position p {
    font-size: 12px;
}

.tutors-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    padding: 20px 20px;
    background: #039fdc;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    /* transition effect. not necessary */
    transition: opacity .6s, visibility .6s;
}

.tutors-unit:hover .tutors-description {
    visibility: visible;
    opacity: 1;
}

.tutors-description {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.tutors-description p {
    color: #fff;
    padding: 0;
    line-height: 17px;
    overflow: hidden;
    max-height: 230px;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.4px;
}

.tutors-description-social a span {
    padding: 5px 5px;
    color: #fff;
}

.tutors-description-social a span:hover {
    color: #034a66;
}


/* ------------------------------ABOUT PAGE (MENTOR) ---------------------------*/

.teacher-detail {
  padding: 50px 0;
}

.teacher-detail-container {
  display: block;
  margin: 50px 30px 0;
  padding: 50px 40px;
  border-radius: 4px;
  box-shadow: 5px 3px 15px 0 rgba(46, 61, 73, 0.1);
}

.teacher-detail-image {
   height: 200px;
   width: 200px;
   overflow: hidden;
   margin: 0 auto;
   margin-top: 20px;
   box-shadow: 2px 5px 13px 0 rgba(46, 61, 73, 0.1);
}

.teacher-detail-social-box ul {
    margin-top: 18px;
}

.teacher-detail-social-box ul li {
    display: inline-block;
    padding: 0 5px;
    text-align: center;
}

.teacher-detail-social-box ul li a {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, .15);
}

.teacher-detail-social-box ul li a i {
    font-size: 18px;
    transform: translateY(60%);
}

.teacher-detail-social-box ul li a:hover {
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
}

.teacher-detail-name h4 {
  color: #039fdc;
}

.teacher-detail-introduction-title h3 {
  margin-bottom: 20px;
}

.teacher-detail-introduction-description p {
  line-height: 27px;
  letter-spacing: 0.3px;
}

.teacher-detail-skills .cssProgress h6 {
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #525c65;
}

.teacher-detail-skills .cssProgress .cssProgress-label {
    color: rgba(255, 255, 255, 1);
}

.teacher-detail-skills .cssProgress .cssProgress-label span {
  font-size: 0.8em;
}
/* ------------------------------ ABOUT PAGE (MENTOR) ---------------------------*/


/*.....................OUR TUTORS ENDS...................*/

/* -----------Testimonial ------------------*/

.testimonial-section {
  padding: 50px 0;
}

.testimonial-outer {
    /*padding-top: 50px;*/
}

.testimonial-outer span i {
    font-size: 60px;
    position: absolute;
    color: #02669a;
}
/*
.testimonial-outer span .fa-quote-left {
    text-shadow: 5px 5px #81c3e6;
}

.testimonial-outer span .fa-quote-right {
    margin-left: 92%;
    margin-top: -3%;
    text-shadow: 5px 5px #81c3e6;
}*/

.testimonial-title {
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.6;
}

/*.testimonial-slider {
    padding-top: 40px;
}*/

.testimonial{
  box-shadow: 5px 3px 12px 0 rgba(46,61,73,.1);
   padding: 30px 30px 30px 130px;
   margin: 30px 30px 30px 30px;
   overflow: hidden;
   position: relative;
   border-top-left-radius: 20px;
   height: 270px;
}

.testimonial:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 25px solid #2987bf;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(-45deg);
    transform-origin: 80% -30% 0;
}

/*.testimonial:after {
    content: "";
    position: absolute;
    top: 41px;
    left: -28px;
    border-top: 25px solid #2987bf;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(135deg);
    transform-origin: 80% -30% 0;
}*/

.testimonial .pic {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 20px;
}

.testimonial .pic img {
    width: 100%;
    height: 100%;
}

.testimonial .description {
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    margin-bottom: 15px;
    letter-spacing: 0.6px;;
}

.testimonial .title {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #2987bf;
    margin: 0;
}

.testimonial .post {
    display: inline-block;
    font-size: 13px;
    color: #2987bf;
}

.owl-theme .owl-controls .owl-page span {
    border: 2px solid #2987bf;
    background: #fff;
    opacity: 1;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span {
    background: #2987bf;
}


/*................gallery.............*/

.gallery-container {
    text-align: center;
    padding: 50px 0 ;
}

.gallery-bg {
  background: url(../images/auditorium-benches-board-207691.jpg) center center no-repeat;
  background-size: cover;
  margin-bottom: -50px;
}

.gallery-bg-overlay {
  background-color: rgba(51, 51, 51, .9);
  height: inherit;
  width: auto;
}

.gallery-container h2 {
  margin-top: 0;
}

.img-wrapper {
  position: relative;
  margin-top: 30px;
  box-shadow: 5px 3px 15px 0 rgba(46, 61, 73, 0.1);
}

.img-wrapper img {
    width: 100%;
  border-radius: 6px;

}

.img-overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 6px;
}

.img-overlay i {
    color: #fff;
    font-size: 3em;
}

.img-overlay:hover {
  cursor: pointer;
}

.galleryTab {
  display: block;
  margin-top: 30px;
  text-align: center;
}

.galleryTab a {
  width: 15%;
  text-align: center;
  margin: 0 auto;
}


/* ------------------------------ CONTACT PAGE ---------------------------------*/

.contact {
    margin: 50px 0;
}

.contact h2 {
    margin-bottom: 40px;
}

.contact h3 {
    color: #039fdc;
}

.contact p {
    min-height: 55px;
}

.contact-information-unit:after {
    content: " ";
    clear: both;
}

.contact-info-list-top {
    display: block;
    padding: 0 106px 0 12px;
    margin-bottom: 25px;
}

.contact-info-list-top .line {
    display: block;
    width: 100%;
    height: 1px;
    background: #efefef;
}

.contact-info-unit-icon {
    width: 40px;
    float: left;
    display: block;
    padding-top: 6px;
}

.contact-info-unit-icon i {
    font-size: 24px;
    color: #039fdc;
}

.contact-info-unit-text {
    width: calc( 100% - 30px - 15px);
    float: left;
    display: block;
}

.contact-info-unit-text p {
    font-size: 13px;
    line-height: 20px;
}

.contact-map #map {
    height: 450px;
}

.contact-form .c-btn {
    padding: 0 30px;
}

.contact-form .c-form-control:focus {
    box-shadow: none;
}

.contact-form textarea {
    padding-top: 15px;
    padding-bottom: 15px
}

.contact-share-box ul {
    margin-top: 18px;
}

.contact-share-box ul li {
    display: inline-block;
    padding: 0 5px;
    text-align: center;
}

.contact-share-box ul li a {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, .15);
}

.contact-share-box ul li a i {
    font-size: 18px;
    transform: translateY(60%);
}

.contact-share-box ul li a:hover {
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
}

.form-container {
    display: block;
    border-left: 1px solid #efefef;
    margin-left: -20px;
    padding-left: 45px;
}

.map {
    margin-bottom: -50px;
}


/* ------------------------------ CONTACT PAGE ---------------------------------*/




@media only screen and (max-width: 767px) {
    .testimonial {
        padding: 20px;
        text-align: center;
    }
    .testimonial .pic {
        display: block;
        position: static;
        margin: 0 auto 15px;
    }
}


/*Responsive Design*/

@media screen and (max-width: 320px) {
    .navigation a img {
        margin-top: -15px;
    }
}

@media screen and (max-width: 480px) {
    .navigation a img {
        margin-top: -15px;
    }
}

@media screen and (max-width: 600px) {
    .navigation a img {
        margin-top: -32px;
    }
}

@media screen and (max-width: 768px) {
    .navigation a img {
        margin-top: -32px;
    }
}

@media screen and (max-width: 900px) {
    .navigation a img {
        margin-top: -32px;
    }
}

@media screen and (max-width: 1024px) {
    .navigation a img {
        margin-top: -32px;
    }
}

@media screen and (max-width: 1200px) {
    .navigation a img {
        margin-top: -32px;
    }
}

@media screen and (max-width: 1280px) {
    .navigation a img {
        margin-top: -32px;
    }
}

@media screen and (min-width: 1280px) {
    .navigation a img {
        margin-top: -32px;
    }
}