



/* NEW MENU CSS */

.logo {
    position: relative;
    z-index: 100;
    padding: 10px;
    float: left;
    width: 8%;
}




/*
nav {
    position: relative;
    width: 980px;
    margin: 0 auto;
}*/

.main-nav {
    background: #039fdc;
}


.menu-search {
    width: 36%;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}

.menu-search .c-form-control {
    background: rgba(255,255,255,0.4);
    border: 1px solid transparent;
    box-shadow: none;
    font-size: 13px;
    letter-spacing: 0.4px;
    color: #fff;
}

.menu-search .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.menu-search .form-control::-webkit-placeholder {
    color: #fff;
}

.menu-search .common-btn {
    padding: 0 16px;
    border: transparent;
    background: #fff;
    color: #039fdc;
    box-shadow: none;
}

.main-nav .input-group {
    box-shadow: none;
}


.main-nav,
.main-nav ul,
.main-nav ul li,
.main-nav ul li a,
.main-nav #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.main-nav ul {
    top: 20px;
    display: block;
    float: left;
    left: 24px;
}

.main-nav:after,
.main-nav > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    list-style: 0;
    height: 0
}

.main-nav #head-mobile {
    display: none;
}


.main-nav > ul > li {
    float: left;
    display: inline-block;
}

.main-nav > ul > li > a {
    padding: 17px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: #fff;
}

.main-nav ul li i {
    margin-right: 10px;
    font-size: 12px;
}

.main-nav > ul > li:hover > a,
.main-nav ul li.active a {
    color: #fff
}

.main-nav > ul > li:hover,
.main-nav ul li.active:hover,
.main-nav ul li.active,
.main-nav ul li.has-sub.active:hover {
    /*background: #448D00 !important;*/
    background: rgba(255,255,255,0.1);
    -webkit-transition: background .3s ease;
    -ms-transition: background .3s ease;
    transition: background .3s ease;
}

.main-nav > ul > li.has-sub > a {
    padding-right: 30px
}

.main-nav > ul > li.has-sub > a:after {
    position: absolute;
    top: 24px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #fff;
    content: ''
}

.main-nav > ul > li.has-sub > a:before {
    position: absolute;
    top: 21px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #fff;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}

.main-nav > ul > li.has-sub:hover > a:before {
    top: 23px;
    height: 0
}

.main-nav ul ul {
    position: absolute;
    left: -9999px
}

.main-nav ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    background: #333;
    transition: all .25s ease
}

.main-nav ul ul li:hover {}

.main-nav li:hover > ul {
    left: auto;
    top: 48px;
    box-shadow: 5px 6px 17px 0 rgba(46,61,73,.3);
}

.main-nav li:hover > ul li > ul {
    top: 0px;
}

.main-nav li:hover > ul > li {
    height: 48px
}

.main-nav ul ul ul {
    margin-left: 100%;
    top: 0
}

.main-nav ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 18px 18px;
    width: 170px;
    font-size: 13px;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: #ddd;
    font-weight: 400;
}

.main-nav ul ul li:last-child > a,
.main-nav ul ul li.last-item > a {
    border-bottom: 0
}

.main-nav ul ul li:hover > a,
.main-nav ul ul li a:hover {
    color: #fff
}

.main-nav ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
}

.main-nav ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}

.main-nav ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0
}

.main-nav ul ul li.has-sub:hover,
.main-nav ul li.has-sub ul li.has-sub ul li:hover {
    background: #363636;
}

.main-nav ul ul ul li.active a {
    border-left: 1px solid #333
}

.main-nav > ul > li.has-sub > ul > li.active > a,
.main-nav > ul ul > li.has-sub > ul > li.active> a {
    border-top: 1px solid #333
}

@media screen and (max-width:1000px) {
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        /*width: 100%;*/
        /*height: 46px;*/
        text-align: center;
        padding: 10px 0 0 0;
        float: none
    }
    /*.logo2 {
        display: none
    }*/
    
    /*.main-nav {
        width: 100%
    }*/
    .main-nav ul {
        width: 100%;
        display: none
    }
    .main-nav ul li {
        width: 100%;
        border-top: 1px solid #444
    }
    .main-nav ul li:hover {
        background: #363636;
    }
    .main-nav ul ul li,
    .main-nav li:hover > ul > li {
        height: auto
    }
    .main-nav ul li a,
    .main-nav ul ul li a {
        width: 100%;
        border-bottom: 0
    }
    .main-nav > ul > li {
        float: none
    }
    .main-nav ul ul li a {
        padding-left: 25px
    }
    .main-nav ul ul li {
        background: #333!important;
    }
    .main-nav ul ul li:hover {
        background: #363636!important
    }
    .main-nav ul ul ul li a {
        padding-left: 35px
    }
    .main-nav ul ul li a {
        color: #ddd;
        background: none
    }
    .main-nav ul ul li:hover > a,
    .main-nav ul ul li.active > a {
        color: #fff
    }
    .main-nav ul ul,
    .main-nav ul ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left
    }
    .main-nav > ul > li.has-sub > a:after,
    .main-nav > ul > li.has-sub > a:before,
    .main-nav ul ul > li.has-sub > a:after,
    .main-nav ul ul > li.has-sub > a:before {
        display: none
    }
    .main-nav #head-mobile {
        display: block;
        padding: 23px;
        color: #ddd;
        font-size: 12px;
        font-weight: 700
    }
    .button {
        width: 55px;
        height: 46px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        z-index: 12399994;
    }
    .button:after {
        position: absolute;
        top: 22px;
        right: 20px;
        display: block;
        height: 4px;
        width: 20px;
        border-top: 2px solid #dddddd;
        border-bottom: 2px solid #dddddd;
        content: ''
    }
    .button:before {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        position: absolute;
        top: 16px;
        right: 20px;
        display: block;
        height: 2px;
        width: 20px;
        background: #ddd;
        content: ''
    }
    .button.menu-opened:after {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        top: 23px;
        border: 0;
        height: 2px;
        width: 19px;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    .button.menu-opened:before {
        top: 23px;
        background: #fff;
        width: 19px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    .main-nav .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #444;
        height: 46px;
        width: 46px;
        cursor: pointer
    }
    .main-nav .submenu-button.submenu-opened {
        background: #262626
    }
    .main-nav ul ul .submenu-button {
        height: 34px;
        width: 34px
    }
    .main-nav .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: ''
    }
    .main-nav ul ul .submenu-button:after {
        top: 15px;
        right: 13px
    }
    .main-nav .submenu-button.submenu-opened:after {
        background: #fff
    }
    .main-nav .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: ''
    }
    .main-nav ul ul .submenu-button:before {
        top: 12px;
        right: 16px
    }
    .main-nav .submenu-button.submenu-opened:before {
        display: none
    }
    .main-nav ul ul ul li.active a {
        border-left: none
    }
    .main-nav > ul > li.has-sub > ul > li.active > a,
    .main-nav > ul ul > li.has-sub > ul > li.active > a {
        border-top: none
    }
}