.courselist{
    padding-top: 40px;
}
.course-unit-list{
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    margin-top: 30px;
    border-radius: 6px;
    padding: 20px 20px;
}
.course-list-main-title{
    font-weight: 300;
    color: #2e3d49;
    font-size: 26px;
    letter-spacing: 0.5px;
}
.course-list-dropdown{
    width: 220px;
}
.course-unit-list-title{
    font-size: 18px;
    font-weight: 400;
}
.course-unit-list-title p{
    color: #333;
}
.course-unit-list-information {
    padding-top: 5px;
}
.course-unit-list-information span{
    display: inline-block;
    padding-right: 5px;
    /*font-weight: bold;*/
}
.course-unit-list-information span i{
    padding-right: 5px;
    color: #00a0dc;
}
.course-unit-list-information span p{
   display: inline-block;
}
.course-unit-list-information span .course-unit-list-information-duration,
.course-unit-list-information span .course-unit-list-information-level{
    color: #333;
}
.course-unit-list-information span .course-unit-list-information-hours{
    padding-left: 5px;
    padding-right: 10px;
}
.course-unit-list-information span .course-unit-list-information-type{
    padding-left: 5px;
}
