@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

.course-section {
	display: block;
	position: relative;
}

.course-block {
	border-radius: .375rem;
	padding: 50px;
	width: 100%;
	/*background-size: cover;*/
	/*background-repeat: no-repeat;*/
	/*background-position: center center;*/
	/*background: #2095f3;*/
	/*background-image: -webkit-linear-gradient(to right top, #029cdc, #7788df, #bb6ac0, #df4e86, #dc4e40);*/
	 background-image: linear-gradient(to right, #23bdfd, #50adf8, #719cee, #8c8ade, #a078c8);
	box-shadow: 5px 5px 25px 0 rgba(46,61,73,.3);
}

/*.course-overlay::before {
	content: '';
	background: #000;
	opacity: .3;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}*/

.course-overlay {
	/*top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 7;*/
}

/*.course-overlay::before {
	content: '';
	background: #000;
	opacity: .3;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}*/

.course-content {
	display: block;
	width: 100%;
	/*position: relative;*/
	/*top: 50%;*/
}

.course-content h1 {
	margin-bottom: 20px;
}

.course-content p {
	color: #fff;
	max-width: 780px;
	margin-left: auto;
	margin-right: auto;
}

.moreless {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 14px;
    color: #263952;
}

.more::before {
	content: "\f103";
	font-family: "Font Awesome 5 Free";
	padding-right: 6px;
}

.less::after {
	content: "\f102";
	font-family: "Font Awesome 5 Free";
	padding-left: 6px;
}

/*----- MODAL --- */
.course-modal {
	background: rgba(46,61,73,.85);
}

.course-modal-dialog {
	margin: 280px auto;
}

.course-modal-header {
	border-bottom: none;
}

.course-modal-body {
	padding-bottom: 50px;
}

.course-modal-body h2 {
	text-align: center;
	font-weight: 400;
	color: #039fdc !important;
	margin-top: 0;
}

.course-modal-body p {
	margin-bottom: 24px;
	font-size: 16px;
	line-height: 40px;
}

.course-modal-body .form-group {
	padding: 0px 50px;
}

.course-modal-body .form-control {
	height: 48px;
	border: 1px solid #dbe2e8;
	color: #7d97ad;
	box-shadow: 5px 5px 10px 0 rgba(46,61,73,.05);
	transition: box-shadow .3s ease,border .3s ease;
	font-size: 14px;
	padding: 0 20px;
}

.course-modal-body .form-control:hover {
	box-shadow: 0 4px 8px 0 rgba(46,61,73,.12);
}

.course-modal-body .form-control:focus {
	border-color: #039fdc;
	box-shadow: 5px 5px 10px 0 rgba(46,61,73,.05);
}

.course-modal-body input[type="text"] {
	color: #7d97ad; 
}

.course-modal-body .c-btn {
	margin:0 auto;
	padding: 0 30px;
	box-shadow: none;
	cursor: pointer;
}
/* ----- MODAL --- */


.course-sub-in {
	padding-top: 48px;
	padding-bottom: 48px;
}

.course-sub-in h5 {
	line-height: 32px;
	font-size: 18px;
	color: #2e3d49;
	letter-spacing: 1.5px;
	margin-bottom: 2px;
}

.course-sub-in h6 {
	font-size: 12px;
	line-height: 2px;
	letter-spacing: 2px;
	color: #7d97ad;
}

.course-sub-in ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.course-sub-in ul li:not(:first-child) {
	border-left: 1px solid #dbe2e8;
}

.course-sub-in ul li {
	padding: 0 0 0 20px;
	margin-right: 22px;
}

.course-objective-in h2, .related-course-in h2 {
	font-weight: 300;
	color: #2e3d49;
}







.course-learn-content, .course-objective-content {
	text-align: left;
	position: relative;
	margin: 20px 0;
	background: #fff;
	box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
	border-radius: 6px;
	transition: all .3s ease;
}

.course-learn-content-ul, .course-objective-content-ul {
	display: block;
	/*align-items: flex-start;*/
	/*justify-content: space-between;*/
	/*flex-wrap: wrap;*/
	padding: 60px 60px;
}

.course-learn-content-ul ul, .course-objective-content-ul ul {
	margin-bottom: 0;
}

.course-learn-content-ul ul > li {
	font-size: 20px;
	line-height: 32px;
	font-weight: 300;
	letter-spacing: 0.5px;
	padding-bottom: 15px;
	padding-left: 35px;
}

.course-learn-content-ul ul li:before {
	content: "\f058";
	font-family: "Font Awesome 5 Free";
	padding-right: 15px;
	color: #0496d0;
	font-size: 20px;
	text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    left: 62px;
    margin-top: 2px;
}

.course-syllabus {
	margin-top: 30px;
	border-top: 1px solid #dbe2e8;
	padding: 20px 0;
}

.course-syllabus p {
	margin-bottom: 0;
	cursor: pointer;
	transition: .3s ease-in;
}

.course-syllabus p:hover span {
	color: #0291c9;
}

.course-syllabus p i {
	color: #039fdc;
	padding-right: 10px;
	transition: all .3s ease;
}

.course-syllabus p span {
	color: #039fdc;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
}

.course-syllabus-content {
	padding: 30px 0;
}

.course-syllabus-content h6 {
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #7d97ad;
	margin-bottom: 16px;
}

/*.course-syllabus-content p {
	line-height: 26px;
	color: #525c65;
}*/

.course-syllabus-content ul li {
	font-size: 14px;
	padding-left: 25px;
}

.course-syllabus-content ul li:before {
	color: #878787;
	font-size: 14px;
	margin-top: 1px;
}

.course-syllabus-head {
	margin-bottom: 30px;
}

.course-syllabus-body {
	/*overflow-y: scroll;
	height: 1300px;*/
}

.course-syllabus-item {
	position: relative;
	/*margin-left: 6px;*/
	padding-left: 40px;
	min-height: 260px;
	border-left: 1px solid #dbe2e8;
}

.course-syllabus-item::after {
	position: absolute;
	top: 4px;
	left: 0;
	content: '';
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background-color: #039fdc;
	-webkit-transform: translateX(-52%);
	transform: translateX(-52%);
}

.course-syllabus-item h4 {
	font-weight: 700;
	margin-top: -2px;

}

.course-syllabus-item-content {
	margin-top: 20px;
}

.course-syllabus-item-content ul {
	margin-top: 10px;
}

.course-syllabus-item-content ul li::before {
	left: 40px;
	color: #039fdc;
}


.course-objective-content-ul ul > li {
	font-size: 14px;
	color: #525c65;
	line-height: 26px;
	font-weight: 300;
	letter-spacing: 0.5px;
	padding-bottom: 15px;
	padding-left: 35px;
}

.course-objective-content-ul ul li:before {
	content: "\f058";
	font-family: "Font Awesome 5 Free";
	padding-right: 12px;
	color: #0496d0;
	font-size: 20px;
	text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    left: 62px;
    margin-top: 2px;
}

.carousel-width {
    width: 23.333%;
}

.course-rating h2{
   font-weight: 300;
}

.rate-avg {
	/*display: inline-block;*/
	font-size: 48px;
	margin-right: 10px; 
}

.rate-overview {
	padding: 20px 0;
}

.rate-o-wrapper {
	display: block;
}

.rate-o-wrapper::after {
	clear: both;
}

.progress {
	float: left;
	display: block;
	margin-right: 2%;
	width: 53%;
	background-color: #dbe2e8;
	border-radius: 6px;
	box-shadow: none;
	height: 22px;
	margin-bottom: 10px;
}

.bar {
	background-color: #ecc81a;
	color: #fff;
	font-weight: 700;
	text-indent: 12px;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	font-size: 12px;
	line-height: 24px;
}

.course-thumb {
	float: left;
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	background: #039fdc;
	margin-right: 20px;
}

.course-thumb:after {
	clear: both;
}

.course-thumb span {
	display: block;
	margin-top: 25px;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 2px;
}

.course-comment-box {
	float: left;
	width: 90%;
	display: block;
	padding: 36px;
	margin-top: 0;
	margin-bottom: 1.5rem;
	text-align: left;
	background: #fff;
	box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
	-webkit-box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
	border-radius: 6px;
	transition: all .3s ease;
	position: relative;
}

.course-comment-box:hover {
	box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
	-webkit-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

.course-comment-box h4 {
	line-height: 22px;
	margin-top: 0;
}


.comments {
	float: left;
	display: block;
	font-size: 14px;
	color: #525c65;
	line-height: 24px;
	font-weight: 300;
	margin-top: 24px;
	min-height: 240px;
}

.course-comment-inner .flickity-viewport {
    height: 480px !important;
    padding-top: 21px; 
}

.course-comment-inner .flickity-prev-next-button {
    top: 98%;
}

.course-comment-inner .flickity-prev-next-button.previous {
    left: 320px;
}

.course-comment-inner .flickity-prev-next-button.next {
    right: 352px;
}