@media screen and (max-width: 991px) {
	/*  --------------------- EVENT SINGLE ------------------------*/
	.event-content-space-1 { border-bottom: 1px solid #efefef; border-right: 0; padding-right: 0; padding-bottom: 25px; }
	

	/*  --------------------- EVENT SINGLE ------------------------*/

}

@media screen and (max-width: 834px) {


	/*  --------------------- INDEX ------------------------*/
	/*.search-container {transform: translateY(14%);}*/
	.search-container::before { max-width: 400px; }
	.search-container-inner h1 { font-size: 16px; }
	.search-sub {font-size: 12px;}
	.searching form { max-width: 330px; }
	.searching input { font-size: 12px; }
	.searching input, .searching button { height: 50px; }
	.first-section-list ul li { padding: 0px 2px 0px 2px; }
	.first-section-list ul li a {font-size: 11px;}
	.first-section-list { max-width: 370px; }

	/*  --------------------- INDEX ------------------------*/
 }


 @media screen and (max-width: 667px) {


	/*  --------------------- INDEX ------------------------*/
	/*.search-container {transform: translateY(14%);}*/
	.search-container::before { max-width: 400px; }
	.search-container-inner h1 { font-size: 16px; }
	.search-sub {font-size: 12px;}
	.searching form { max-width: 330px; }
	.searching input { font-size: 12px; }
	.searching input, .searching button { height: 50px; }
	.first-section-list ul li { padding: 0px 2px 0px 2px; }
	.first-section-list ul li a {font-size: 11px;}
	.first-section-list { max-width: 370px; }
	/*  --------------------- INDEX ------------------------*/


	/*  --------------------- EVENT SINGLE ------------------------*/
	.event { height: 430px; }
	.event-text { padding-top: 75px; }
	#event-countdown span { font-size: 50px; }
	#event-countdown p {font-size: 11px; }
	.event-location i, .event-date i { font-size: 13px; }
	.event-location span, .event-date span {font-size: 15px; }



	/*  --------------------- EVENT SINGLE ------------------------*/
 }

 @media screen and (max-width: 568px) {
	/*  --------------------- EVENT SINGLE ------------------------*/
	.event { height: 390px; }
	.event-text { padding-top: 45px; }
	.event-text h1 { line-height: 34px; padding-bottom: 15px; }
	/*  --------------------- EVENT SINGLE ------------------------*/


 }

@media screen and (max-width: 500px) {
	/*  --------------------- EVENT SINGLE ------------------------*/
	.event-register-box { margin-bottom: 60px; }
	.event-register-box h1 { font-size: 25px; }
	.event-register-box p { font-size: 13px; }
	.event-register-box .form-group { padding: 0px 40px; }
	.event-register-box input { height: 42px; font-size: 13px; }
	.event-register-box textarea { height: 150px; font-size: 13px; }
	.event-share h4 { font-size: 14px; line-height: 26px; }
	.event-share-box ul { margin-top: 15px; }
	.event-share-box ul li a { width: 33px; height: 33px; }
	.event-share-box ul li a i { font-size: 15px; transform: translateY(50%); }

	/*  --------------------- EVENT SINGLE ------------------------*/
}

@media screen and (max-width: 414px) {
	/*  --------------------- EVENT SINGLE ------------------------*/
	.event-register-box .form-group { padding: 0px 25px; }

	/*  --------------------- EVENT SINGLE ------------------------*/


}

 @media screen and (max-width: 375px) {


 	/*  --------------------- INDEX ------------------------*/
 	
 	.search-container::before { max-width: 360px; }
 	.first-section-list { max-width: 330px; }
 	

	/*  --------------------- INDEX ------------------------*/

	/*  --------------------- EVENT SINGLE ------------------------*/
	#event-countdown span { font-size: 30px; }
	.event-text h1 { font-size: 25px; line-height: 30px;}


	/*  --------------------- EVENT SINGLE ------------------------*/


 }

 @media screen and (max-width: 360px) {


 	/*  --------------------- INDEX ------------------------*/
 	/*.search-container {transform: translateY(10%);}*/
 	.search-container::before { max-width: 340px; }
 	.searching form { max-width: 310px; }
 	.first-section-list { max-width: 310px; }
 	

	/*  --------------------- INDEX ------------------------*/

 }

@media screen and (max-width: 320px) {


 	/*  --------------------- INDEX ------------------------*/
 	/*.search-container {transform: translateY(10%);}*/
 	.search-container::before { max-width: 300px; }
 	.searching form { max-width: 280px; }
 	.first-section-list { max-width: 280px; }
	/*  --------------------- INDEX ------------------------*/


	/*  --------------------- EVENT SINGLE ------------------------*/
	.event-register-box p { line-height: 20px; }
	.event-register-box .form-group { padding: 0px 5px; }

	/*  --------------------- EVENT SINGLE ------------------------*/

 }