@media screen and (max-width: 1199px) {
	/*  --------------------- EVENT SINGLE ------------------------*/
	.events .events-unit .events-date .events-date-day p { font-size: 40px;	}
	.events .events-unit .events-date .events-date-month p { font-size: 10px; line-height: 9px; }
	.events .events-content .events-content-subtitle p { font-size: 13px; }
	/*  --------------------- EVENT SINGLE ------------------------*/
}


@media screen and (max-width: 991px) {
	/*  --------------------- ALL EVENTS ------------------------*/
	.events-list-container { /*height: 1416px;*/ }
	.events .events-unit { padding: 10px 10px; }
	.events .events-image { height: 98px; }
	.events .events-content .events-content-subtitle p { font-size: 13px; line-height: 20px }

	/*  --------------------- ALL EVENTS ------------------------*/

	/*  --------------------- EVENT SINGLE ------------------------*/
	.event-content-space-1 { border-bottom: 1px solid #efefef; border-right: 0; padding-right: 0; padding-bottom: 25px; }
	

	/*  --------------------- EVENT SINGLE ------------------------*/

}

@media screen and (max-width: 834px) {


	/*  --------------------- INDEX ------------------------*/
	/*.search-container {transform: translateY(14%);}*/
	.search-container::before { max-width: 400px; }
	.search-container-inner h1 { font-size: 16px; }
	.search-sub {font-size: 12px;}
	.searching form { max-width: 330px; }
	.searching input { font-size: 12px; }
	.searching input, .searching button { height: 50px; }
	.first-section-list ul li { padding: 0px 2px 0px 2px; }
	.first-section-list ul li a {font-size: 11px;}
	.first-section-list { max-width: 370px; }

	/*  --------------------- INDEX ------------------------*/
 }

@media screen and (max-width: 766px) {

	/*  --------------------- ALL EVENTS ------------------------*/
	.events-list-container { margin: 0 20px; height: 1668px; }
	.events .events-unit .events-date .events-date-day p, .events .events-unit .events-date .events-date-month p { float: left; display: block;}
	.events .events-unit .events-date .events-date-day p { font-size: 80px; }
	.events .events-unit .events-date .events-date-month p { line-height: 85px; padding-left: 12px; font-size: 16px; font-weight: 700; }
	.events .events-unit .events-date .events-date-month p:after { content: "", clear: both; }
	.events-content { border-right: 0; border-left: 0; padding-left: 0; padding-right: 0; position: relative; top: 240px;}
	.events .events-image { height: 241px; position: relative; top: -152px;}

	/*  --------------------- ALL EVENTS ------------------------*/


	/* ----------------------- CONTACT PAGE ------------------------*/
	.contact-info-list-top { padding: 0 23px 0 12px; }
	.contact-share-box {position: relative; top: 572px;}
	.contact-share-box h4 { padding-left: 76px; }
	.form-container:before { content: " "; clear: both; }
	.form-container {position: relative; border-left: 0; margin-top: -70px; margin-left: 0; padding-left: 0; border-bottom: 1px solid #efefef; padding-bottom: 20px;}
	.map { margin-top: 120px; }

	/* ----------------------- CONTACT PAGE ------------------------*/


}

 @media screen and (max-width: 667px) {


	/*  --------------------- INDEX ------------------------*/
	/*.search-container {transform: translateY(14%);}*/
	.search-container::before { max-width: 400px; }
	.search-container-inner h1 { font-size: 16px; }
	.search-sub {font-size: 12px;}
	.searching form { max-width: 330px; }
	.searching input { font-size: 12px; }
	.searching input, .searching button { height: 50px; }
	.first-section-list ul li { padding: 0px 2px 0px 2px; }
	.first-section-list ul li a {font-size: 11px;}
	.first-section-list { max-width: 370px; }
	/*  --------------------- INDEX ------------------------*/

	/*  --------------------- ALL EVENTS ------------------------*/
	.events-list-container { height: 1730px; }
	.events .events-image {  top: -173px;}

	/*  --------------------- ALL EVENTS ------------------------*/



	/*  --------------------- EVENT SINGLE ------------------------*/
	.event { height: 430px; }
	.event-text { padding-top: 75px; }
	#event-countdown span { font-size: 50px; }
	#event-countdown p {font-size: 11px; }
	.event-location i, .event-date i { font-size: 13px; }
	.event-location span, .event-date span {font-size: 15px; }



	/*  --------------------- EVENT SINGLE ------------------------*/


	/* ----------------------- CONTACT PAGE ------------------------*/
	.contact-information h3, .form-container h3 { font-size: 20px; text-align: center; }
	.contact-information p, .form-container p { font-size: 12px; text-align: center; }
	.contact-info-unit-text p { text-align: left; }
	.form-container .c-btn { margin: 0 auto; }


	/* ----------------------- CONTACT PAGE ------------------------*/
 }

 @media screen and (max-width: 568px) {
	/*  --------------------- EVENT SINGLE ------------------------*/
	.event { height: 390px; }
	.event-text { padding-top: 45px; }
	.event-text h1 { line-height: 34px; padding-bottom: 15px; }
	/*  --------------------- EVENT SINGLE ------------------------*/


	/* ----------------------- CONTACT PAGE ------------------------*/
	
	.contact-info-unit-icon { padding-top: 9px; }
	.contact-info-unit-icon i { font-size: 20px; }
	.contact-share-box { top: 555px; }
	.contact-share-box h4 { padding-left: 60px; font-size: 14px; }
	.contact-share-box ul { padding-left: 20px; }
	.contact-share-box ul li { padding: 0px 2px; }
	.contact-share-box ul li a { width: 30px; height: 30px; }
	.contact-share-box ul li a i { font-size: 13px; transform: translateY(38%); }
	.contact-map #map { height: 227px; }



	/* ----------------------- CONTACT PAGE ------------------------*/


 }

@media screen and (max-width: 500px) {
	/*  --------------------- EVENT SINGLE ------------------------*/
	.event-register-box { margin-bottom: 60px; }
	.event-register-box h1 { font-size: 25px; }
	.event-register-box p { font-size: 13px; }
	.event-register-box .form-group { padding: 0px 40px; }
	.event-register-box input { height: 42px; font-size: 13px; }
	.event-register-box textarea { height: 150px; font-size: 13px; }
	.event-share h4 { font-size: 14px; line-height: 26px; }
	.event-share-box ul { margin-top: 15px; }
	.event-share-box ul li a { width: 33px; height: 33px; }
	.event-share-box ul li a i { font-size: 15px; transform: translateY(50%); }

	/*  --------------------- EVENT SINGLE ------------------------*/
}

@media screen and (max-width: 414px) {
	/*  --------------------- ALL EVENTS ------------------------*/
	.events-list-container { height: 1338px; }
	.events .events-unit { padding: 9px 20px; }
	.events .events-unit .events-date .events-date-day p { font-size: 60px; }
	.events .events-unit .events-date .events-date-month p { line-height: 76px; padding-left: 9px; font-size: 13px; }
	.events-content { top: 152px; }
	.events .events-content .events-content-subtitle p { line-height: 22px; font-size: 13px;}
	.event-sep { margin-top: 23px; margin-bottom: 0; }
	.events .events-image { height: 154px; }
	.events-pagination { margin-top: 30px;} 

	/*  --------------------- ALL EVENTS ------------------------*/


	/*  --------------------- EVENT SINGLE ------------------------*/
	.event-register-box .form-group { padding: 0px 25px; }

	/*  --------------------- EVENT SINGLE ------------------------*/


	/* ----------------------- CONTACT PAGE ------------------------*/

	.contact-info-unit-icon { width: 20px; }
	.contact-info-unit-icon i { font-size: 15px; }
	.contact-info-unit-text { width: calc( 100% - 21px); }
	.contact-info-unit-text h4 { font-size: 14px; }
	.contact-share-box h4 { padding-left: 40px; }
	.contact-share-box ul { padding-left: 0; }
	.contact-form input { height: 42px; }
	.contact-form input, .contact-form textarea {  font-size: 13px; }
	.contact-share-box {top: 526px;}


	/* ----------------------- CONTACT PAGE ------------------------*/


}

 @media screen and (max-width: 375px) {


 	/*  --------------------- INDEX ------------------------*/
 	
 	.search-container::before { max-width: 360px; }
 	.first-section-list { max-width: 330px; }
 	

	/*  --------------------- INDEX ------------------------*/

	/*  --------------------- ALL EVENTS ------------------------*/
	.events-list-container { height: 1278px; }
	.events .events-unit { padding: 8px 8px; }
	.events-content { top: 140px; }
	.events .events-image { top: -178px; }
	.event-sep { margin-top: 5px; }
	.events-pagination { margin-top: 15px;  }


	/*  --------------------- ALL EVENTS ------------------------*/


	/*  --------------------- EVENT SINGLE ------------------------*/
	#event-countdown span { font-size: 30px; }
	.event-text h1 { font-size: 25px; line-height: 30px;}


	/*  --------------------- EVENT SINGLE ------------------------*/

	/* ----------------------- CONTACT PAGE ------------------------*/
	.contact-info-unit-icon { width: 100%; text-align: center;}
	.contact-info-unit-text { width: 100%; text-align: center; }
	.contact-info-unit-text p { text-align: center; }

	/* ----------------------- CONTACT PAGE ------------------------*/


 }

 @media screen and (max-width: 360px) {


 	/*  --------------------- INDEX ------------------------*/
 	/*.search-container {transform: translateY(10%);}*/
 	.search-container::before { max-width: 340px; }
 	.searching form { max-width: 310px; }
 	.first-section-list { max-width: 310px; }
 	

	/*  --------------------- INDEX ------------------------*/


	/*  --------------------- ALL EVENTS ------------------------*/
	.events-list-container { height: 1416px; }
	.events .events-image { top: -220px; }

	/*  --------------------- ALL EVENTS ------------------------*/

	/* ----------------------- CONTACT PAGE ------------------------*/
	.contact-share-box h4 { padding-left: 30px; }
	.contact-share-box ul li a { width: 27px; height: 27px; }
	.contact-share-box ul li a i { font-size: 12px; transform: translateY(23%); }

	/* ----------------------- CONTACT PAGE ------------------------*/


 }

@media screen and (max-width: 320px) {


 	/*  --------------------- INDEX ------------------------*/
 	/*.search-container {transform: translateY(10%);}*/
 	.search-container::before { max-width: 300px; }
 	.searching form { max-width: 280px; }
 	.first-section-list { max-width: 280px; }
	/*  --------------------- INDEX ------------------------*/


	/*  --------------------- EVENT SINGLE ------------------------*/
	.event-register-box p { line-height: 20px; }
	.event-register-box .form-group { padding: 0px 5px; }

	/*  --------------------- EVENT SINGLE ------------------------*/


	/* ----------------------- CONTACT PAGE ------------------------*/
	.contact-share-box h4 { padding-left: 25px; }
	.contact-share-box ul li { padding: 0; }
	/* ----------------------- CONTACT PAGE ------------------------*/


 }